/ConfigMgr_ESTest.java
/ConfigMgr_ESTest_scaffolding.java
/MyStore_ESTest.java
/MyStore_ESTest_scaffolding.java
/SimpleClient_ESTest.java
/SimpleClient_ESTest_scaffolding.java
/TestClient_ESTest.java
/TestClient_ESTest_scaffolding.java
